@use '/scss/vars.scss' as *;

.content-block {
  &_center {
    text-align: center;
  }

  &__title {
    color: black;
    font-size: 44px;
    line-height: 126%;
    font-weight: bold;

    &:not(:last-child) {
      // if it is the last child margin is unnecessary
      margin-bottom: 12px;
    }

    strong {
      color: $primaryColor;
    }

    strong.blue {
      color: $secondaryColor;
    }
  }

  &__text {
    line-height: 138%;
    color: $textColor;
    font-weight: 400;
    &_maxw {
      max-width: 600px;
      margin: 0 auto;
    }
    &:not(:last-child) {
      // if it is the last child margin is unnecessary
      margin-bottom: 24px;
    }
  }
}
