@use '/scss/vars.scss' as *;

.experts {
  padding: 53px 0px 116px 0px;

  &__body {
    display: flex;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 50%;
  }

  &__content-block {
    max-width: 400px;
  }

  &__media {
    flex: 0 1 50%;
    position: relative;
    img {
      max-width: 100%;
    }
  }
}
.statistics {
  max-width: 655px;
  margin: 0px auto;
  position: relative;

  &__body {
    margin-bottom: 70px;
    background-color: #fafbfd;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 6;
    @media screen and (max-width: $mobile) {
      margin-bottom: 50px;
    }
  }

  &__decor {
    position: absolute;
    background-color: $primaryColor;
    border-radius: 30px;
    &_1 {
      width: 65px;
      height: 65px;
      bottom: -21px;
      left: -21px;
      transform: rotate(-30deg);
      z-index: 2;
      border-radius: 16px;
    }

    &_2 {
      width: 97px;
      height: 97px;
      right: 50%;
      top: -40px;
      transform: rotate(-30deg);
    }

    &_3 {
      width: 128px;
      height: 128px;
      transform: rotate(30deg);
      right: -60px;
      top: -10px;
    }
  }
}
.body-statistics {
  padding: 20px 80px;
  @media screen and (max-width: $mobile) {
    padding: 25px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    @media screen and (max-width: $smMobile) {
      grid-template-columns: repeat(1, auto);
      gap: 20px;
    }
  }

  &__item {
    text-align: center;
  }

  &__value {
    font-size: 36px;
    line-height: 1.2;
    color: $primaryColor;
    letter-spacing: 0.14em;
  }

  &__text {
    font-size: 13px;
    text-transform: uppercase;
  }
}

.media-experts {
}
