@use '/scss/vars.scss' as *;

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__container {
    display: flex;
    min-height: 114px;
    align-items: center;
    @media (max-width: $tablet) {
      min-height: 80px;
    }
  }
  &__logo {
    @media (max-width: $smMobile) {
      flex: 0 0 35px;
      overflow: hidden;
    }
    position: relative;
    z-index: 6;
  }
  &__menu {
    flex: 1 1 auto;
  }
  &__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: $tablet) {
      flex: 0 0 150px;
    }
  }
}

.menu {
  display: flex;
  justify-content: flex-end;

  &__body {
    @media (max-width: $tablet) {
      position: fixed;
      top: 80px; // header height
      right: 30px;
      width: 100%;
      background-color: $primaryColor;
      padding: 40px 15px 30px 15px;
      transition: all 0.3s ease 0s;
      transform-origin: top right;
      transform: scale(0);
    }

    .menu__list {
      @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
      }
    }
    .menu__item {
      @media (max-width: $tablet) {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }

    .menu__link {
      @media (max-width: $tablet) {
        font-size: 10px;
        color: #fff;
        font-size: 20px;
      }
    }

    &.active {
      @media (max-width: $tablet) {
        transform: scale(1);
        right: 0;
      }
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    @media (min-width: $tablet) {
      margin-right: 40px;
    }
  }

  &__link {
    color: black;
    font-family: Raleway;
    text-transform: uppercase;
    line-height: calc(12 / 10 * 100%);
    letter-spacing: 0.2em;
    font-size: 12px;
  }

  &__icon {
    margin-left: 30px;
  }
}
