.button {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 800;
  text-transform: uppercase;
  z-index: 9;
  letter-spacing: 0.14em;
  line-height: calc(12 / 10 * 100%);
  font-size: 12px;
  color: #fcfdfe;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color 0.3s ease 0s;
  &:hover {
    background-color: #cf4d56;
  }
  &_blue {
    background-color: #4285f4;
    &:hover {
      background-color: #3166bb;
    }
  }
}
.icon-menu {
  display: none;
  position: relative;
  width: 30px;
  padding: 0;
  height: 20px;
  flex-direction: column;
  background-color: transparent;
  border: none;
  justify-content: space-between;
  &::before,
  &::after {
    transition: all 0.3s ease 0s;

    content: '';
    background-color: #000;
    height: 2px;
    width: 100%;
  }
  span {
    transition: all 0.3s ease 0s;
    height: 2px;
    width: 100%;
    background-color: #000;
  }

  &.active {
    &:before {
      top: 18px;
      transform: rotate(45deg) translateY(13px);
    }
    &::after {
      top: -18px;
      transform: rotate(-45deg) translateY(-13px);
    }
    span {
      transform: scale(0);
    }
  }
  @media screen and (max-width: 768px) {
    display: flex;
  }
}
